<!-- <div class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-1 gap-2 ">
    <mat-card class="text-center">
        <div>
            <img class="mb-1 mx-auto h-[200px]"
            src="https://via.placeholder.com/150"/>
            <div class="w-full">
                <div>
                    <h5>shoes</h5>
                    <p class="truncate hover:whitespace-normal">snickers</p>
                    <p>Description</p>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="text-center">
        <div>
            <img class="mb-1 mx-auto h-[200px]"
            src="https://via.placeholder.com/150"/>
            <div class="w-full">
                <div>
                    <h5>shoes</h5>
                    <p class="truncate hover:whitespace-normal">snickers</p>
                    <p>Description</p>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="text-center">
        <div>
            <img class="mb-1 mx-auto h-[200px]"
            src="https://via.placeholder.com/150"/>
            <div class="w-full">
                <div>
                    <h5>shoes</h5>
                    <p class="truncate hover:whitespace-normal">snickers</p>
                    <p>Description</p>
                </div>
            </div>
        </div>
    </mat-card>
    
</div> -->
<mat-card class="text-center">
    <div>
        <img class="mb-1 mx-auto h-[200px]"
        src="https://via.placeholder.com/150"/>
        <div class="w-full">
            <div>
                <h5>shoes</h5>
                <p class="truncate hover:whitespace-normal">snickers</p>
                <p>Description</p>
            </div>
        </div>
    </div>
</mat-card>